## This file overrides Stardoc's default header template to suppress the module docstring,
## which would otherwise appear as a line of text between the generated comment and the content.
<!-- Generated with Stardoc: http://skydoc.bazel.build -->
