# Attributes

Name           | Type                               | Default            | Description
---------------|------------------------------------|--------------------|------------
#foreach ($attr in $ruleInfo.getAttributeList())
#if ($attr.type == "NAME")
  #set($type_name = "name")
  #set($type_url = "https://docs.bazel.build/versions/master/build-ref.html#name")
#elseif ($attr.type == "BOOLEAN")
  #set($type_name = "bool")
  #set($type_url = "https://docs.bazel.build/versions/master/skylark/lib/bool.html")
#elseif ($attr.type == "INT")
  #set($type_name = "int")
  #set($type_url = "https://docs.bazel.build/versions/master/skylark/lib/int.html")
#elseif ($attr.type == "INT_LIST")
  #set($type_name = "[int]")
  #set($type_url = "https://docs.bazel.build/versions/master/skylark/lib/list.html")
#elseif ($attr.type == "LABEL")
  #set($type_name = "Label")
  #set($type_url = "https://docs.bazel.build/versions/master/skylark/lib/Label.html")
#elseif ($attr.type == "LABEL_LIST")
  #set($type_name = "[Label]")
  #set($type_url = "https://docs.bazel.build/versions/master/skylark/lib/list.html")
#elseif ($attr.type == "STRING")
  #set($type_name = "string")
  #set($type_url = "https://docs.bazel.build/versions/master/skylark/lib/string.html")
#elseif ($attr.type == "STRING_LIST")
  #set($type_name = "[string]")
  #set($type_url = "https://docs.bazel.build/versions/master/skylark/lib/list.html")
#else
  #set($type_name = $attr.type)
  #set($type_url = "https://docs.bazel.build/versions/master/skylark/language.html")
#end
#if ($attr.getMandatory())
  #set($default = "—")
#else
  #set($default = "`$attr.defaultValue`")
#end
`$attr.name` | [`$type_name`]($type_url) | $default | $attr.docString
#end
