common --curses=no
common --enable_bzlmod

build --verbose_failures
build --worker_verbose

build --repository_cache=.cache
fetch --repository_cache=.cache
query --repository_cache=.cache

build --disk_cache=.cache
