name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-java@v1
      with:
        java-version: "11.0.5"
    - name: Download Bazel
      run: curl --location --fail https://github.com/bazelbuild/bazel/releases/download/1.2.1/bazel-1.2.1-linux-x86_64 --output /tmp/bazel && chmod +x /tmp/bazel
    - name: Run Bazel Build
      run: /tmp/bazel build //...
